/*
Author: Camden I. Wagner
File: styles.css
*/

html,
body {
	margin: 0px;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/aniTxU8.jpg') center center no-repeat;
}


* {
	/*This makes sure that the padding and border are included in the total width and height of the elements.*/
	box-sizing: border-box;
	color:#CCCCCC;
	text-decoration: none;
	font-family: Andale Mono, AndaleMono, monospace;
}

/*column definitions*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0px;
    border: 1px solid transparent;
}

/*preventing block floating among rows*/
.row::after {
    content: "";
    clear: both;
    display: table;
}


#title {
	margin: 10px;
	font-size: 70px;
	color: black;
}

#nav li {
	padding-right: 30px;
	padding-left: 30px;
	margin-left: 0px;
	list-style: none;
	float:left;
}
#nav button {
	font-size: 28px;
	background: transparent;
	border: none;
	outline: none;
}
#nav button:hover {
	color:#FFFFFF;
}
.about_buttons {
	margin-top: 20px;
	color: #84a1d8;
	width: 100%;
	padding: 0px;
	font-size: 32px;
	background: transparent;
	border: none;
	outline: none;
}
.about_buttons:hover {
	color:#FFFFFF;
}
#about h3 {
	font-size: 20px;
}

#about_disp {
	background: url('img/asdfasdf.png');
	background-size: 100%;
	height: 350px;
	background-repeat: no-repeat;
}
#gm_shot {
	background: url('img/gasdfgadsg.png');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 400px;
}
#history_button {
	color: #84a1d8;
	width: 100%;
	padding: 0px;
	font-size: 24px;
	background: transparent;
	border: none;
	outline: none;
}
#history_button:hover {
	color:#FFFFFF;
}

#footer {
	position: fixed;
	left:0px;
    bottom:0px;
    height:80px;
    width:100%;
	background-color: black;
}